<h2 class="book-brand" aria-label="{{ site.title }} | {{ site.description }}" >
  <a class="flex align-center" href="{{ '' | absoluteUrl }}" title="{{ site.title }} | {{ site.description }}">
    {% if site.icon %}  
    <img src="{{ site.icon }}" alt="Logo" />
    {% endif %}
    <div class="flex flex-direction">
      <span class="site-title flex site-title align-center">{{ site.title }}{% svg 'check' %}</span>
      <span class="site-description ellipsis">{{ site.description }}</span>
    </div>
  </a>
</h2>
